.NewPostBox_caption {
  position: absolute;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  height: calc(100% - 182px);
  -ms-overflow-style: none;
}

@media only screen and (max-width: 767px) {
  .NewPostBox_caption {
    position: relative;
    height: 300px;
  }
}
